[submodule "PEntropy"]
	path = PEntropy
	url = https://github.com/CarlosManuelRodr/PEntropy
[submodule "Varios/AdvancedMapping"]
	path = Varios/AdvancedMapping
	url = https://github.com/CarlosManuelRodr/AdvancedMapping
[submodule "Sistema/MemoryMonitor"]
	path = Sistema/MemoryMonitor
	url = https://github.com/CarlosManuelRodr/MemoryMonitor
